{% extends "Inicio_sesion/base.html" %}
    {% block content %}
    <div class="text-center mb-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Cambiar contraseña</h2>
        <p class="text-gray-600">Ingresa tu email para cambiar tu contraseña</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="flex items-center justify-center">
            <button type="submit" 
                    class="w-full bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-colors">
                Cambiar mi contraseña
            </button>
        </div>
    </form>
    {% endblock %}