* {
  box-sizing: border-box;
}


/* Banner */

.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Fom button */
.form__button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 5px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form__button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}


/* Translation Flags */

.flags-container {
  display: inline-block;
  margin-top: 20px;
}

.flag {
  display: inline-block;
}

.flag > img {
  display: inline-block;
  width: 50px;
  cursor: pointer;
}

.advice-text {
  margin: 0;
}

.text-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Media Queries */

@media (max-width: 768px) {
  .banner {
    display: none;
  }

  .form__button  {
    padding: 10px 30px;
  }
}

