<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ADAP - Edit Company</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous" />
    <link rel="icon" href="">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Inicio_sesion/css/main.css' %}"> 
    <link rel="stylesheet" href="{% static 'Inicio_sesion/css/registercompany.css' %}"> 
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        .container {
            margin-top: 50px;
            max-width: 800px;
            background: #f7f7f7;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-primary {
            background-color: #43A941;
            border-color: #43A941;
        }
        .btn-primary:hover {
            background-color: #388837;
            border-color: #388837;
        }
    </style>
</head>

<body>
    <main class="container">
        <h2 class="text-center mb-4">Edit Company</h2>
        <form method="POST" action="{% url 'Formulario:editCompanyProfileView' %}?company_info={{ company_info }}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-start">
                        <label for="companyName" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="companyName" name="companyName" value="{{ company_info.companyName }}" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="dateFoundation" class="form-label">Date of Foundation</label>
                        <input type="date" class="form-control" id="dateFoundation" name="dateFoundation" value="{{ company_info.dateFoundation }}" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{ company_info.phone }}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-start">
                        <label for="NIT" class="form-label">NIT</label>
                        <input type="text" class="form-control" id="NIT" name="NIT" value="{{ company_info.NIT }}" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="country" class="form-label">Country of Residence</label>
                        <select id="country" class="form-select" name="country" required>
                            <option value="" disabled>Select your country of residence</option>
                            <option value="Afghanistan" {% if company_info.country == "Afghanistan" %}selected{% endif %}>Afghanistan</option>
                            <option value="Albania" {% if company_info.country == "Albania" %}selected{% endif %}>Albania</option>
                            <option value="Germany" {% if company_info.country == "Germany" %}selected{% endif %}>Germany</option>
                            <option value="Algeria" {% if company_info.country == "Algeria" %}selected{% endif %}>Algeria</option>
                            <option value="Argentina" {% if company_info.country == "Argentina" %}selected{% endif %}>Argentina</option>
                            <option value="Australia" {% if company_info.country == "Australia" %}selected{% endif %}>Australia</option>
                            <option value="Austria" {% if company_info.country == "Austria" %}selected{% endif %}>Austria</option>
                            <option value="Belgium" {% if company_info.country == "Belgium" %}selected{% endif %}>Belgium</option>
                            <option value="Benin" {% if company_info.country == "Benin" %}selected{% endif %}>Benin</option>
                            <option value="Bolivia" {% if company_info.country == "Bolivia" %}selected{% endif %}>Bolivia</option>
                            <option value="Botswana" {% if company_info.country == "Botswana" %}selected{% endif %}>Botswana</option>
                            <option value="Brazil" {% if company_info.country == "Brazil" %}selected{% endif %}>Brazil</option>
                            <option value="United Kingdom" {% if company_info.country == "United Kingdom" %}selected{% endif %}>United Kingdom</option>
                            <option value="Cameroon" {% if company_info.country == "Cameroon" %}selected{% endif %}>Cameroon</option>
                            <option value="Canada" {% if company_info.country == "Canada" %}selected{% endif %}>Canada</option>
                            <option value="Czech Republic" {% if company_info.country == "Czech Republic" %}selected{% endif %}>Czech Republic</option>
                            <option value="Chile" {% if company_info.country == "Chile" %}selected{% endif %}>Chile</option>
                            <option value="China" {% if company_info.country == "China" %}selected{% endif %}>China</option>
                            <option value="Colombia" {% if company_info.country == "Colombia" %}selected{% endif %}>Colombia</option>
                            <option value="Congo" {% if company_info.country == "Congo" %}selected{% endif %}>Congo</option>
                            <option value="Costa Rica" {% if company_info.country == "Costa Rica" %}selected{% endif %}>Costa Rica</option>
                            <option value="Croatia" {% if company_info.country == "Croatia" %}selected{% endif %}>Croatia</option>
                            <option value="Cuba" {% if company_info.country == "Cuba" %}selected{% endif %}>Cuba</option>
                            <option value="Denmark" {% if company_info.country == "Denmark" %}selected{% endif %}>Denmark</option>
                            <option value="Ecuador" {% if company_info.country == "Ecuador" %}selected{% endif %}>Ecuador</option>
                            <option value="Egypt" {% if company_info.country == "Egypt" %}selected{% endif %}>Egypt</option>
                            <option value="Spain" {% if company_info.country == "Spain" %}selected{% endif %}>Spain</option>
                            <option value="United States" {% if company_info.country == "United States" %}selected{% endif %}>United States</option>
                            <option value="Slovakia" {% if company_info.country == "Slovakia" %}selected{% endif %}>Slovakia</option>
                            <option value="Slovenia" {% if company_info.country == "Slovenia" %}selected{% endif %}>Slovenia</option>
                            <option value="Ethiopia" {% if company_info.country == "Ethiopia" %}selected{% endif %}>Ethiopia</option>
                            <option value="Philippines" {% if company_info.country == "Philippines" %}selected{% endif %}>Philippines</option>
                            <option value="Finland" {% if company_info.country == "Finland" %}selected{% endif %}>Finland</option>
                            <option value="France" {% if company_info.country == "France" %}selected{% endif %}>France</option>
                            <option value="Greece" {% if company_info.country == "Greece" %}selected{% endif %}>Greece</option>
                            <option value="Guyana" {% if company_info.country == "Guyana" %}selected{% endif %}>Guyana</option>
                            <option value="Netherlands" {% if company_info.country == "Netherlands" %}selected{% endif %}>Netherlands</option>
                            <option value="Honduras" {% if company_info.country == "Honduras" %}selected{% endif %}>Honduras</option>
                            <option value="Hungary" {% if company_info.country == "Hungary" %}selected{% endif %}>Hungary</option>
                            <option value="India" {% if company_info.country == "India" %}selected{% endif %}>India</option>
                            <option value="Iran" {% if company_info.country == "Iran" %}selected{% endif %}>Iran</option>
                            <option value="Iraq" {% if company_info.country == "Iraq" %}selected{% endif %}>Iraq</option>
                            <option value="Ireland" {% if company_info.country == "Ireland" %}selected{% endif %}>Ireland</option>
                            <option value="Iceland" {% if company_info.country == "Iceland" %}selected{% endif %}>Iceland</option>
                            <option value="Israel" {% if company_info.country == "Israel" %}selected{% endif %}>Israel</option>
                            <option value="Italy" {% if company_info.country == "Italy" %}selected{% endif %}>Italy</option>
                            <option value="Jamaica" {% if company_info.country == "Jamaica" %}selected{% endif %}>Jamaica</option>
                            <option value="Japan" {% if company_info.country == "Japan" %}selected{% endif %}>Japan</option>
                            <option value="Kenya" {% if company_info.country == "Kenya" %}selected{% endif %}>Kenya</option>
                            <option value="Latvia" {% if company_info.country == "Latvia" %}selected{% endif %}>Latvia</option>
                            <option value="Lebanon" {% if company_info.country == "Lebanon" %}selected{% endif %}>Lebanon</option>
                            <option value="Lithuania" {% if company_info.country == "Lithuania" %}selected{% endif %}>Lithuania</option>
                            <option value="Macedonia" {% if company_info.country == "Macedonia" %}selected{% endif %}>Macedonia</option>
                            <option value="Malta" {% if company_info.country == "Malta" %}selected{% endif %}>Malta</option>
                            <option value="Morocco" {% if company_info.country == "Morocco" %}selected{% endif %}>Morocco</option>
                            <option value="Mexico" {% if company_info.country == "Mexico" %}selected{% endif %}>Mexico</option>
                            <option value="Monaco" {% if company_info.country == "Monaco" %}selected{% endif %}>Monaco</option>
                            <option value="Mongolia" {% if company_info.country == "Mongolia" %}selected{% endif %}>Mongolia</option>
                            <option value="Nepal" {% if company_info.country == "Nepal" %}selected{% endif %}>Nepal</option>
                            <option value="New Zealand" {% if company_info.country == "New Zealand" %}selected{% endif %}>New Zealand</option>
                            <option value="Nicaragua" {% if company_info.country == "Nicaragua" %}selected{% endif %}>Nicaragua</option>
                            <option value="Nigeria" {% if company_info.country == "Nigeria" %}selected{% endif %}>Nigeria</option>
                            <option value="North Korea" {% if company_info.country == "North Korea" %}selected{% endif %}>North Korea</option>
                            <option value="Norway" {% if company_info.country == "Norway" %}selected{% endif %}>Norway</option>
                            <option value="Panama" {% if company_info.country == "Panama" %}selected{% endif %}>Panama</option>
                            <option value="Paraguay" {% if company_info.country == "Paraguay" %}selected{% endif %}>Paraguay</option>
                            <option value="Peru" {% if company_info.country == "Peru" %}selected{% endif %}>Peru</option>
                            <option value="Poland" {% if company_info.country == "Poland" %}selected{% endif %}>Poland</option>
                            <option value="Portugal" {% if company_info.country == "Portugal" %}selected{% endif %}>Portugal</option>
                            <option value="Puerto Rico" {% if company_info.country == "Puerto Rico" %}selected{% endif %}>Puerto Rico</option>
                            <option value="Romania" {% if company_info.country == "Romania" %}selected{% endif %}>Romania</option>
                            <option value="Russia" {% if company_info.country == "Russia" %}selected{% endif %}>Russia</option>
                            <option value="El Salvador" {% if company_info.country == "El Salvador" %}selected{% endif %}>El Salvador</option>
                            <option value="Serbia" {% if company_info.country == "Serbia" %}selected{% endif %}>Serbia</option>
                            <option value="Singapore" {% if company_info.country == "Singapore" %}selected{% endif %}>Singapore</option>
                            <option value="Syria" {% if company_info.country == "Syria" %}selected{% endif %}>Syria</option>
                            <option value="South Africa" {% if company_info.country == "South Africa" %}selected{% endif %}>South Africa</option>
                            <option value="Sweden" {% if company_info.country == "Sweden" %}selected{% endif %}>Sweden</option>
                            <option value="Switzerland" {% if company_info.country == "Switzerland" %}selected{% endif %}>Switzerland</option>
                            <option value="South Korea" {% if company_info.country == "South Korea" %}selected{% endif %}>South Korea</option>
                            <option value="Suriname" {% if company_info.country == "Suriname" %}selected{% endif %}>Suriname</option>
                            <option value="Thailand" {% if company_info.country == "Thailand" %}selected{% endif %}>Thailand</option>
                            <option value="Turkey" {% if company_info.country == "Turkey" %}selected{% endif %}>Turkey</option>
                            <option value="Ukraine" {% if company_info.country == "Ukraine" %}selected{% endif %}>Ukraine</option>
                            <option value="Uruguay" {% if company_info.country == "Uruguay" %}selected{% endif %}>Uruguay</option>
                            <option value="Venezuela" {% if company_info.country == "Venezuela" %}selected{% endif %}>Venezuela</option>
                            <option value="Vietnam" {% if company_info.country == "Vietnam" %}selected{% endif %}>Vietnam</option>
                            <option value="Yemen" {% if company_info.country == "Yemen" %}selected{% endif %}>Yemen</option>
                            <option value="Zimbabwe" {% if company_info.country == "Zimbabwe" %}selected{% endif %}>Zimbabwe</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-100">Update Company Info</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
